<html>
<head>
  <meta charset="utf-8" />
</head>
<body>
  <div>
    <button type="button"onclick="location.href='/login'" style="width:300px;height:300px;background-color:#ffff99;"onmouseover="this.style.background='#99ccff'"onmouseout="this.style.background='#ffff99'">
      create dataset
    </button>
    <button type="button"onclick="window.open('/user_font')" style="width:300px;height:300px;background-color:#ffff99;"onmouseover="this.style.background='#99ccff'"onmouseout="this.style.background='#ffff99'">
      create user font
    </button>

  </div>

</body>
</html>
